*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}

.right-side{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    background-color: #8cf8f8;
    left: 0;
}

.first-header{
    letter-spacing: 2;
    font-family: 'Fuggles', cursive;
    font-size: 70px;
    font-weight: 5px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: rgb(12, 224, 224);
    
}

.menu i{
    margin-right: 0.5rem;
}

.profile{
    border: none;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgb(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 0.5rem;
}

.profile-name h4, p, a{
    color: white;
    text-decoration: none;
}

.profile:hover{
    background-color: rgb(12, 224, 224);
}

.header{
    background-color: rgb(221, 250, 250);
    min-width: 80%;
    padding: 2rem 2%;
}

.main-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-bar i{
    border-radius: 50%;
    padding: 0.5rem;
    background-color: white;
    display: none;
}

.search{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 20px;
}
.search input{
    width: 90%;
    border: none;
}

.search button{
    border: none;
    right: 0;
    top: 0;
    background-color: white;
    cursor: pointer;
    width: 10%;
    height: 100%;
    padding: 0 5%;
    position: absolute;
    border-radius: 0 20px 20px 0;
}

.search button:hover{
    background-color: rgb(12, 224, 224);
    color: white;
}

.filter{
    margin: 1rem 0;
    font-size: 14px;
}

#most-searches{
    color: black;
}

.filter-searches{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.filter-searches button{
    min-width: 110px;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.filter-searches button:hover{
    background-color: rgb(12, 224, 224);
    color: white ;
}

.job-options{
    display: flex;
    flex-wrap: wrap;
}


.option1{
    width: 8rem;
    height: 15rem;
    background-color: rgb(169, 248, 248);
    border-radius: 8px;
    color: white;
    margin: 15px;
    padding: 10px;
}

.option1:hover{
    transform: scale(1.1);
    background-color: rgb(12, 224, 224);
    color: white;
}
.option1 button{
    display: flex;
    align-items: flex-end;
}

.option2{
    margin: 15px;
    height: 8rem;
    padding: 10px;
    color: white;
    background-color: rgb(169, 248, 248);
    border-radius: 8px;
}

.option2:hover{
    transform: scale(1.01);
    background-color: rgb(12, 224, 224);
    color: white;

}

.option2 button{
    display: flex;
    align-items: center;

}